header,
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

button{
    width: 80px;
    background-color: rgb(121, 9, 162);
    font-size: medium;
    color:  rgb(235, 182, 255);
    padding: 1.5%;
}